/* custom font */
@font-face {
  font-family: 'youshe';
  src: url("./font/youshebiaotihei.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital';
  src: url("./font/digital-7.ttf");
  font-weight: normal;
  font-style: normal;
}
