/**
 * 亮色风格
 */

html.light {
    color-scheme: light;

    --skin-bg0: #e5e5e5;
    --skin-bg1: #ffffff;
    --skin-bg2: #f8f9fa;
    --skin-bg3: #f4f9ff;
    --skin-bg4: #ebf1fb;

    --skin-t1: #000000;
    --skin-t2: #272727;
    --skin-t3: #323232;
    --skin-t4: #343434;
    --skin-t5: #132230;
    --skin-t6: #606266;
    --skin-t7: #253747;
    --skin-t8: #4570f6;
    --skin-t9: #f33d3d;
    --skin-t10: #132230;

    --skin-bd1: #ececef;
    --skin-bd2: #093c6c;
    --skin-divide: #dadada;
}
